<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="MainConnection" connectionString = "Data Source=DESKTOP-104ELO6\SQLEXPRESS; Initial Catalog=Vrram; Integrated Security=false; UID = VRRAM; PWD = vrram4ever; Timeout = 500; MultipleActiveResultSets = True " providerName ="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key ="Name" value ="Admin"/>
    <add key ="Surname" value ="Adminyan"/>
    <add key ="PassportID" value ="183462795"/>
    <add key ="Login" value ="admin"/>
    <add key ="Password" value ="admin"/>
  </appSettings>

</configuration>